@model BlueSpiral.Core.ViewModel.UsersViewModel

    <div class="page-wrapper">
        <div class="container">
            <div class="col-md-7 col-sm-10 pt-5 pb-5">
                <div class="blue-login" id="register-hide">
                    <div class="padding-top-3x hidden-md-up"></div>
                    <h4 class="margin-bottom-1x text-white mt-3">No Account? Register</h4>
                    <p>Registration takes less than a minute but gives you full control over your orders.</p>
                    @Html.ValidationSummary("", new { @class = "text-danger" })
                    @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "row", role = "form", @id = "buyer", enctype = "multipart/form-data" }))
                    {
                        @Html.AntiForgeryToken()
                      
                        <div class="col-sm-6">
                            <div class="form-group">
                                @Html.LabelFor(m => m.FName)
                                @Html.TextBoxFor(m => m.FName, new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.FName, null, new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                @Html.LabelFor(m => m.Email)
                                @Html.TextBoxFor(m => m.Email, new { @class = "form-control" , @type="email" , @onblur= "checkEmail()" , @id="emailid"})
                                @Html.ValidationMessageFor(model => model.Email, null, new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                @Html.LabelFor(m => m.ContactNo)
                                @Html.TextBoxFor(m => m.ContactNo, new { @class = "form-control" , @type = "text" })
                                @Html.ValidationMessageFor(model => model.ContactNo, null, new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                @Html.LabelFor(m => m.BusinessName)
                                @Html.TextBoxFor(m => m.BusinessName, new { @class = "form-control", @type = "text" })
                                @Html.ValidationMessageFor(model => model.BusinessName, null, new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                @Html.LabelFor(m => m.ContactAddress)
                                @Html.TextBoxFor(m => m.ContactAddress, new { @class = "form-control", @type = "text" })
                                @Html.ValidationMessageFor(model => model.ContactAddress, null, new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label>State</label>
                                @Html.DropDownListFor(m => m.StateId, ViewBag.State as SelectList, "Choose State", new { @class = "form-control", @id = "StateId", @onchange = "StateWiseCity()" })
                                @Html.ValidationMessageFor(model => model.StateId, null, new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label>City</label>
                                @Html.DropDownListFor(m => m.CityId, new SelectList(Enumerable.Empty<SelectListItem>(), "CityId", "CityName"), "Choose City", new { @class = "form-control", @id = "City" })
                                @Html.ValidationMessageFor(model => model.CityId, null, new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                @Html.LabelFor(m => m.Pincode)
                                @Html.TextBoxFor(m => m.Pincode, new { @class = "form-control", @type = "text" })
                                @Html.ValidationMessageFor(model => model.Pincode, null, new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                @Html.LabelFor(m => m.GSTNo)
                                @Html.TextBoxFor(m => m.GSTNo, new { @class = "form-control", @type = "text" })
                                @Html.ValidationMessageFor(model => model.GSTNo, null, new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                @Html.LabelFor(m => m.PanNo)
                                @Html.TextBoxFor(m => m.PanNo, new { @class = "form-control", @type = "text" })
                                @Html.ValidationMessageFor(model => model.PanNo, null, new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                @Html.LabelFor(m => m.Pswd)
                                @Html.TextBoxFor(m => m.Pswd, new { @class = "form-control", @type = "password" })
                                @Html.ValidationMessageFor(model => model.Pswd, null, new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                @Html.LabelFor(m => m.ConfirmPassword)
                                @Html.TextBoxFor(m => m.ConfirmPassword, new { @class = "form-control", @type = "password" })
                                @Html.ValidationMessageFor(model => model.ConfirmPassword, null, new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <div class="form-group">
                                <label>Profile Picture</label>
                                <input type="file" name="ImageFile" class="file" required /> 
                                <div class="input-group col-xs-12">
                                    <input type="text" class="form-control input-lg new-control" disabled="" placeholder="" style="background: #fff;">
                                    <span class="input-group-btn">
                                        <button class="browse btn btn-primary input-lg browse-edit mt-1" type="button">Browse</button>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <div class="d-flex flex-wrap justify-content-between">
                                <div class="custom-control custom-checkbox">
                                    <input class="custom-control-input" type="checkbox" id="agreement">
                                    <label class="custom-control-label" for="agreement">Agreement with the TnC</label>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 text-center">
                            <input class="btn btn-primary margin-bottom-none mod-btn" type="submit" value="Register" />
                        </div>
                     }
                </div>
                
                <h6 class="mt-3 text-center already-regis">Already Registered? <span id="login-button" style="color: #f39c12; cursor: pointer;">@Html.ActionLink("Login here", "login", "Account")</span></h6>
                <h6 class="mt-3 text-center"><span id="back-bttn" style="color: #f39c12; cursor: pointer; display: none;">Back</span></h6>
            </div>
        </div>
    </div>

@Scripts.Render("~/register/js");



 

