@model BlueSpiral.Web.Areas.ShopOwner.Models.SubCategoryViewModel
@{
    ViewBag.Title = "SubCategory";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<link rel="stylesheet" type="text/css" href="/css/dataTables.bootstrap.min.css">

<div class="tabcontent">
    <div class="padding-top-2x mt-2 hidden-lg-up"></div>
    <h4>Category</h4>
    <hr class="padding-bottom-1x">
    @Html.ValidationSummary("", new { @class = "text-danger" })
    @using (Html.BeginForm("SubCategory", "ControlPanel", FormMethod.Post, new { role = "form", enctype = "multipart/form-data" }))
    {
        <div class="col-md-12">
            <div class="form-group">
                <label for="account-fn"> Category Name</label>
                @Html.DropDownListFor(m => m.HandicraftCategoryId, ViewBag.Category as SelectList, "Choose Handicraft Category", new { @class = "form-control", @id = "HandicraftCategoryId" })
                @Html.ValidationMessageFor(model => model.HandicraftCategoryId, null, new { @class = "text-danger" })
            </div>
        </div>
        <div class="col-md-12">
            <div class="form-group">
                <label for="account-fn"> Sub Category Name</label>
                @Html.TextBoxFor(m => m.HandicraftSubCategory, new { @class = "form-control", @placeholder = "Sub Category Name" })
            </div>
        </div>
        <div class="col-sm-12">
            <div class="form-group">
                <label>Picture</label>
                <input type="file" name="ImageFile" class="file" required="" />
                <div class="input-group col-xs-12">
                    <input type="text" class="form-control input-lg new-control" disabled="" placeholder="" style="background: #fff;">
                    <span class="input-group-btn">
                        <button class="browse btn btn-primary input-lg browse-edit mt-1" type="button">Browse</button>
                    </span>
                </div>
            </div>
        </div>
        <div class="col-12 padding-bottom-1x">
            <hr class="mt-2 mb-3">
            <div class="text-right">
                <button class="btn btn-primary margin-right-none" type="submit">Submit</button>
            </div>
        </div>
    }
</div>
<div class="tabcontent">
    <div class="padding-top-2x mt-2 hidden-lg-up"></div>
    <h4>Sub Caregory List</h4>
    <div class="padding-top-2x mt-2 hidden-lg-up"></div>
    <div class="table-responsive">
        <table class="table table-hover margin-bottom-none table-striped table-bordered" id="example3" cellspacing="0" style="width:100%">
            <thead>
                <tr>
                    <th>Sr. No.</th>
                    <th>Category</th>
                    <th>SubCategory</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                @if (ViewBag.SubCategory != null)
                {
                    foreach (var item in ViewBag.SubCategory)
                    {
                        <tr>
                            <td><a class="text-medium navi-link">1</a></td>
                            <td>@item.HandicraftCategory</td>
                            <td>@item.HandicraftSubCategory</td>
                            <td>
                                <a href="/ControlPanel/ControlPanel/RemoveSubCategory/@item.HandicraftSubCategoryId">   <i class="fa fa-trash action-icon mr-1"></i> </a>

                                <i class="fa fa-edit action-icon mr-1"></i>

                            </td>
                            @*<td><a href="/ShopOwner/ShopOwner/RemoveCategory/@item.HandicraftCategoryId"><span aria-hidden="true">×</span></a></td>*@
                        </tr>
                    }
                }


            </tbody>
        </table>
    </div>
    <hr>
    <div class="text-right"><a class="btn btn-link-primary margin-bottom-none" href="#"><i class="icon-download"></i>&nbsp;Sub Category List</a></div>
</div>


<script src="~/Scripts/jquery-1.10.2.min.js"></script>



@Scripts.Render("~/register/js");

<script src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.10.16/js/dataTables.bootstrap4.min.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $('#example3').DataTable(

            {

                "aLengthMenu": [[5, 10, 25, -1], [5, 10, 25, "All"]],
                "iDisplayLength": 5
            }
        );
    });


    function checkAll(bx) {
        var cbs = document.getElementsByTagName('input');
        for (var i = 0; i < cbs.length; i++) {
            if (cbs[i].type == 'checkbox') {
                cbs[i].checked = bx.checked;
            }
        }
    }
</script>
