@model BlueSpiral.Core.ViewModel.UsersViewModel
@{
    ViewBag.Title = "SupplierList";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";

    @*<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>*@
}
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" type="text/css" href="/css/dataTables.bootstrap.min.css">
<div id="order" class="tabcontent">
    <div class="padding-top-2x mt-2 hidden-lg-up"></div>
    @*<h4>Register User</h4>*@
    <div class="padding-top-2x mt-2 hidden-lg-up"></div>
    <div class="table-responsive">
        <table class="table table-hover margin-bottom-none table-striped table-bordered" id="example5" cellspacing="0" style="width:100%">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Mobile No</th>
                    <th>Shop Name</th>
                    <th>Status</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                @if (ViewBag.SupplierList != null)
                {
                    foreach (var item in ViewBag.SupplierList)
                    {
                        <tr>
                            <td>@item.FName</td>
                            <td ><a href="/ControlPanel/ControlPanel/getprofile?id=@item.Email">@item.Email</a></td>
                            <td><span class="text-danger">@item.ContactNo</span></td>
                            <td><span class="text-medium">@item.BusinessName</span></td>
                            <td><a class="btn btn-primary btn-sm" href="/ControlPanel/ControlPanel/UpdateStatus/@item.Userid"><span>@item.Status</span></a></td>
                            <td>
                                <a href="/ControlPanel/ControlPanel/RemoveUser/@item.Userid"><i class="fa fa-trash action-icon mr-1"></i></a>
                                <a class="text-medium navi-link" href="#" data-toggle="modal" data-target="#opendetail">

                                    <a href="/ControlPanel/ControlPanel/Profile?id=@item.Email"><i class="fa fa-edit action-icon mr-1"></i></a>
                                </a>
                                @if (item.UserTypeId == 3)
                                {
                                    <a href="/ControlPanel/ControlPanel/Product?id=@item.Email"><i class="fa fa-shopping-basket action-icon action-icon" aria-hidden="true"></i></a>
                                }
                            </td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>
    <hr>
    <div class="text-right"><a class="btn btn-link-primary margin-bottom-none" href="#"><i class="icon-download"></i>&nbsp;Supplier Details</a></div>
</div>
<div class="text-right">
    <button onclick="document.getElementById('id01').style.display='block'" class="btn btn-link-primary margin-bottom-none">Add New</button>
</div>

@Html.ValidationSummary("", new { @class = "text-danger" })
@using (Html.BeginForm("UserList/5", "ControlPanel", FormMethod.Post, new { @class = "row", role = "form", @id = "buyer", enctype = "multipart/form-data" }))
{
    <div class="w3-container">

        <div id="id01" class="w3-modal">
            <div class="w3-modal-content w3-card-4 w3-animate-zoom" style="max-width:600px">

                <div class="w3-center">
                    <br>
                    <span onclick="document.getElementById('id01').style.display='none'" class="w3-button w3-xlarge w3-hover-red w3-display-topright" title="Close">&times;</span>
                </div>



                <div class="col-sm-6">
                    <div class="form-group">
                        @Html.LabelFor(m => m.FName)
                        @Html.TextBoxFor(m => m.FName, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.FName, null, new { @class = "text-danger" })
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        @Html.LabelFor(m => m.Regiment)
                        @Html.TextBoxFor(m => m.Regiment, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.Regiment, null, new { @class = "text-danger" })
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        @Html.LabelFor(m => m.Email)
                        @Html.TextBoxFor(m => m.Email, new { @class = "form-control", @type = "email", @onblur = "checkEmail()", @id = "emailid" })
                        @Html.ValidationMessageFor(model => model.Email, null, new { @class = "text-danger" })
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        @Html.LabelFor(m => m.ContactNo)
                        @Html.TextBoxFor(m => m.ContactNo, new { @class = "form-control", @type = "text" })
                        @Html.ValidationMessageFor(model => model.ContactNo, null, new { @class = "text-danger" })
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        @Html.LabelFor(m => m.BusinessName)
                        @Html.TextBoxFor(m => m.BusinessName, new { @class = "form-control", @type = "text" })
                        @Html.ValidationMessageFor(model => model.BusinessName, null, new { @class = "text-danger" })
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        @Html.LabelFor(m => m.ContactAddress)
                        @Html.TextBoxFor(m => m.ContactAddress, new { @class = "form-control", @type = "text" })
                        @Html.ValidationMessageFor(model => model.ContactAddress, null, new { @class = "text-danger" })
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label>State</label>
                        @Html.DropDownListFor(m => m.StateId, ViewBag.State as SelectList, "Choose State", new { @class = "form-control", @id = "StateId", @onchange = "StateWiseCity()" })
                        @Html.ValidationMessageFor(model => model.StateId, null, new { @class = "text-danger" })
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label>City</label>
                        @Html.DropDownListFor(m => m.CityId, new SelectList(Enumerable.Empty<SelectListItem>(), "CityId", "CityName"), "Choose City", new { @class = "form-control", @id = "City" })
                        @Html.ValidationMessageFor(model => model.CityId, null, new { @class = "text-danger" })
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        @Html.LabelFor(m => m.Pincode)
                        @Html.TextBoxFor(m => m.Pincode, new { @class = "form-control", @type = "text" })
                        @Html.ValidationMessageFor(model => model.Pincode, null, new { @class = "text-danger" })
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        @Html.LabelFor(m => m.GSTNo)
                        @Html.TextBoxFor(m => m.GSTNo, new { @class = "form-control", @type = "text" })
                        @Html.ValidationMessageFor(model => model.GSTNo, null, new { @class = "text-danger" })
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        @Html.LabelFor(m => m.PanNo)
                        @Html.TextBoxFor(m => m.PanNo, new { @class = "form-control", @type = "text" })
                        @Html.ValidationMessageFor(model => model.PanNo, null, new { @class = "text-danger" })
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        @Html.LabelFor(m => m.Pswd)
                        @Html.TextBoxFor(m => m.Pswd, new { @class = "form-control", @type = "password" })
                        @Html.ValidationMessageFor(model => model.Pswd, null, new { @class = "text-danger" })
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        @Html.LabelFor(m => m.ConfirmPassword)
                        @Html.TextBoxFor(m => m.ConfirmPassword, new { @class = "form-control", @type = "password" })
                        @Html.ValidationMessageFor(model => model.ConfirmPassword, null, new { @class = "text-danger" })
                    </div>
                </div>
                <div class="col-sm-12">
                    <div class="form-group">
                        <label>Profile Picture</label>
                        <input type="file" name="ImageFile" class="file" required />
                        <div class="input-group col-xs-12">
                            <input type="text" class="form-control input-lg new-control" disabled="" placeholder="" style="background: #fff;">
                            <span class="input-group-btn">
                                <button class="browse btn btn-primary input-lg browse-edit mt-1" type="button">Browse</button>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12">
                    <div class="d-flex flex-wrap justify-content-between">
                        <div class="custom-control custom-checkbox">
                            <input class="custom-control-input" type="checkbox" id="agreement">
                            <label class="custom-control-label" for="agreement">Agreement with the TnC</label>
                        </div>
                    </div>
                </div>
                <div class="col-12 text-center">
                    <input class="btn btn-primary margin-bottom-none mod-btn" type="submit" value="Register" />
                </div>


                <div class="w3-container w3-border-top w3-padding-16 w3-light-grey">
                    @*<button onclick="document.getElementById('id01').style.display='none'" type="button" class="w3-button w3-red">Cancel</button>*@

                </div>

            </div>
        </div>
    </div>
}

<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.10.16/js/dataTables.bootstrap4.min.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $('#example5').DataTable(

            {

                "aLengthMenu": [[5, 10, 25, -1], [5, 10, 25, "All"]],
                "iDisplayLength": 5
            }
        );
    });


    function checkAll(bx) {
        var cbs = document.getElementsByTagName('input');
        for (var i = 0; i < cbs.length; i++) {
            if (cbs[i].type == 'checkbox') {
                cbs[i].checked = bx.checked;
            }
        }
    }
</script>


@Scripts.Render("~/register/js");