
@{
    ViewBag.Title = "Index2";
    Layout = "~/Views/Shared/_CustomerLayout.cshtml";
}

<div class="col-lg-12 col-md-8 col-sm-8 p-0" style="background: #fff;">
    <!-- Page Content-->
    <!-- Main Slider-->
    <section class="hero-slider" style="background-image: url(/Content/img/hero-slider/main-bg.jpg);">
        <div class="owl-carousel large-controls dots-inside" data-owl-carousel="{ &quot;nav&quot;: true, &quot;dots&quot;: true, &quot;loop&quot;: true, &quot;autoplay&quot;: true, &quot;autoplayTimeout&quot;: 7000 }">
            <div class="item">
                <div class="container padding-top-1x">
                    <div class="row justify-content-center align-items-center">
                        <div class="col-lg-5 col-md-6 padding-bottom-2x text-md-left text-center">
                            <div class="from-bottom">
                                <div class="h1 text-body text-normal mb-2 pt-1">Handmade items</div>
                                <div class="h1 text-body text-normal mb-4 pb-1">starting at <span class="text-bold leave-colr">Rs-599/-</span></div>
                            </div><a class="btn btn-primary scale-up delay-1" href="shop-grid-ls.html">Shop now</a>
                        </div>
                        <div class="col-md-6 padding-bottom-2x mb-2"><img class="d-block mx-auto" src="/Content/img/hero-slider/02.png" alt="Puma Backpack"></div>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="container padding-top-1x">
                    <div class="row justify-content-center align-items-center">
                        <div class="col-lg-5 col-md-6 padding-bottom-2x text-md-left text-center">
                            <div class="from-bottom">
                                <div class="h1 text-body text-normal mb-2 pt-1">Handmade Products</div>
                                <div class="h1 text-body text-normal mb-4 pb-1">New Collection <span class="text-bold">Rs-699.99</span></div>
                            </div><a class="btn btn-primary scale-up delay-1" href="shop-single.html">Shop Now</a>
                        </div>
                        <div class="col-md-6 padding-bottom-2x mb-2"><img class="d-block mx-auto" src="/Content/img/hero-slider/01.png" alt="Chuck Taylor All Star II"></div>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="container padding-top-1x">
                    <div class="row justify-content-center align-items-center">
                        <div class="col-lg-5 col-md-6 padding-bottom-2x text-md-left text-center">
                            <div class="from-bottom">
                                <div class="h1 text-body text-normal mb-2 pt-1">Just For You</div>
                                <div class="h1 text-body text-normal mb-4 pb-1">Hang & Decorate</div>
                            </div><a class="btn btn-primary scale-up delay-1" href="shop-single.html">Shop Now</a>
                        </div>
                        <div class="col-md-6 padding-bottom-2x mb-2"><img class="d-block mx-auto" src="/Content/img/hero-slider/03.png" alt="Moto 360"></div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Top Categories-->
    <section class="container padding-top-3x">
        <h3 class="text-center mb-30 ht-section-title">Latest Categories</h3>
        <div class="row">
            @if (ViewBag.TopSubCategory != null)
            {
                int a = 1;
                foreach (var item in ViewBag.TopSubCategory)
                {

                    if (a <= 3)
                    {
                        <div class="col-md-4 col-sm-6">
                            <div class="card mb-30">
                                <a class="card-img-tiles" href="shop/@item.HandicraftSubCategoryId">
                                    <div class="inner">
                                        <div class="main-img late-img"><img  alt="Category" src=@item.ImgUrl></div>
                                        <!-- <div class="thumblist"><img src="~/Content/img/shop/categories/02.jpg" alt="Category"><img src="~/Content/img/shop/categories/03.jpg" alt="Category"></div> -->
                                    </div>
                                </a>
                                <div class="card-body text-center">
                                    <h4 class="card-title">@item.HandicraftSubCategory</h4>
                                    <a class="btn btn-outline-primary btn-sm" href="shop/@item.HandicraftSubCategoryId">View Products</a>
                                </div>
                            </div>
                        </div>
                        a = a + 1;
                    }
                }
            }
            @*<div class="col-md-4 col-sm-6">
                    <div class="card mb-30">
                        <a class="card-img-tiles" href="shop/1">
                            <div class="inner">
                                <div class="main-img"><img src="~/Content/img/shop/categories/589.jpg" alt="Category"></div>
                            </div>
                        </a>
                        <div class="card-body text-center">
                            <h4 class="card-title">Flowersde</h4>
                            <p class="text-muted">Starting from Rs-999/-</p><a class="btn btn-outline-primary btn-sm" href="shop-grid-ls.html">View Products</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6">
                    <div class="card mb-30">
                        <a class="card-img-tiles" href="shop/2">
                            <div class="inner">
                                <div class="main-img"><img src="~/Content/img/shop/categories/750.jpg" alt="Category"></div>
                            </div>
                        </a>
                        <div class="card-body text-center">
                            <h4 class="card-title">Accessories</h4>
                            <p class="text-muted">Starting from Rs-899/-</p><a class="btn btn-outline-primary btn-sm" href="shop-grid-ls.html">View Products</a>
                        </div>
                    </div>
                </div>*@
        </div>
        <div class="text-center"><a class="btn btn-outline-secondary margin-top-none" href="shop-categories.html">All Categories</a></div>
    </section>
    <!-- Promo #1-->
    <section class="container padding-top-3x padding-bottom-2x">
        <div class="row justify-content-center">
            <div class="col-sm-5 col-md-5 text-center mb-4">
                <img src="~/Content/img/front-brnd.jpg" class="img-fluid border-brnd">
                <div class="front0-centered">
                    <h3 class="frnt-items">What items do your favorite brands and bloggers love?</h3>
                    <p>
                        <a class="btn btn-primary btn-sm" href="shop/3">shop now</a>
                    </p>
                </div>
            </div>
            <div class="col-sm-7 col-md-7">
                <img src="~/Content/img/knint.png" class="img-fluid frnt-imgs">
                <div class="latest0-centered p-3">Knitting</div>
            </div>
        </div>
    </section>

    <section class="container-fluid padding-top-3x kurt-img">
        <div class="row justify-content-center">
            <div class="col-xl-5 col-lg-6 mb-30" style="min-height: 450px;">
                <div class="img-cover rounded" style="background-image: url(/Content/img/banners/new_pro1.jpg);"></div>
                <div class="item-html">
                    <h2>60%<span>off</span></h2>
                    <p class="text-center"><a href="shop/1"><button type="button" class="btn btn-primary ">Shop Now</button></a></p>
                </div>
            </div>
            <div class="col-xl-5 col-lg-6 mb-30" style="min-height: 270px;">
                <div class="img-cover rounded" style="background-image: url(/Content/img/banners/blog_big1.jpg);"></div>
                <div class="item-html">
                    <h2>50%<span>off</span></h2>
                    <p class="text-center">
                        <a href="shop/2"><button type="button" class="btn btn-primary ">Shop Now</button></a>
                    </p>
                </div>
            </div>
        </div>
    </section>
    <!-- Promo #2-->
    <!-- Different Section-->
    <section class="diffrent-section mt-5">
        <div class="row">
            <div class="col-lg-6 col-md-12">
                <div class="m-5 p-2 marge-mr">
                    <div class="testimonial-content-wrap">
                        <h1 class="diff-us mb-5">Mhy Makes Us Different ?</h1>
                        <div class="col-sm-12">
                            <div class="ht-service-icon"><i class="fa fa-resistance"></i></div>
                            <div class="ht-service-excerpt pt-2">All type of Products All type of Products</div>
                        </div>
                        <div class="col-sm-12 mt-5">
                            <div class="ht-service-icon"><i class="fa fa-resistance"></i></div>
                            <div class="ht-service-excerpt pt-2">All type of Products All type of Products</div>
                        </div>
                        <div class="col-sm-12 mt-5">
                            <div class="ht-service-icon"><i class="fa fa-resistance"></i></div>
                            <div class="ht-service-excerpt pt-2">All type of Products All type of Products</div>
                        </div>
                    </div>
                </div>
            </div>
            <figure class="col-lg-6 col-md-12 featured-image" data-os-animation="bounceInLeft">
                <img src="/Content/img/banners/diff-img.jpg">
            </figure>

        </div>
    </section>

    <!-- End Different Section-->
    <!-- Featured Products Carousel-->
    <section class="container-fluid padding-top-3x padding-bottom-3x feat-img">
        <h3 class="text-center mb-30">Top Products</h3>
        <div class="container">
            <div class="owl-carousel" data-owl-carousel="{ &quot;nav&quot;: false, &quot;dots&quot;: true, &quot;margin&quot;: 30, &quot;responsive&quot;: {&quot;0&quot;:{&quot;items&quot;:1},&quot;576&quot;:{&quot;items&quot;:2},&quot;768&quot;:{&quot;items&quot;:3},&quot;991&quot;:{&quot;items&quot;:4},&quot;1200&quot;:{&quot;items&quot;:4}} }">
                <!-- Product-->
                @if (ViewBag.TopProduct != null)
                {
                    int a = 1;
                    foreach (var item in ViewBag.TopProduct)
                    {
                       
                        if (a <= 12)
                        {
                            <div class="grid-item">
                                <div class="product-card">
                                    <div class="product-badge text-danger">Rs. @item.discount Off</div><a class="product-thumb" href="../ShopOwner/SingleProduct/@item.product_id"><img src=@item.ImgUrl alt="Product"></a>
                                    <h3 class="product-title"><a href="../ShopOwner/SingleProduct/@item.product_id">@item.product_name</a></h3>
                                    <h4 class="product-price">
                                        @if (Session["UserTypeId"].ToString() == "4")
                                        {
                                            <del class="text-muted text-normal">Rs. @item.TotAmountShopkeeper</del> @item.price_shopkeeper
                                        }

                                        else
                                        {
                                            <del class="text-muted text-normal">Rs. @item.TotDefence</del> @item.price_defence
                                        }
                                    </h4>
                                    @if (Session["UserTypeId"].ToString() == "4")
                                    {
                                        <div class="product-buttons">
                                            <button class="btn btn-outline-secondary btn-sm btn-wishlist" data-toggle="tooltip" title="Whishlist"><i class="icon-heart"></i></button>
                                            <button class="btn btn-outline-primary btn-sm" data-toast data-toast-type="success" data-toast-position="topRight" data-toast-icon="icon-circle-check" data-toast-title="Product" data-toast-message="successfuly added to cart!" onclick="addtocart('Normal','@item.moq_shopkeeper','@item.product_id');">Add to Cart</button>
                                        </div>
                                    }
                                    @if (Session["UserTypeId"].ToString() == "5")
                                    {
                                        <div class="product-buttons">
                                            <button class="btn btn-outline-secondary btn-sm btn-wishlist" data-toggle="tooltip" title="Whishlist"><i class="icon-heart"></i></button>
                                            <button class="btn btn-outline-primary btn-sm" data-toast data-toast-type="success" data-toast-position="topRight" data-toast-icon="icon-circle-check" data-toast-title="Product" data-toast-message="successfuly added to cart!" onclick="addtocart('Normal','@item.moq_defence','@item.product_id');">Add to Cart</button>
                                        </div>
                                    }
                                </div>
                            </div>
                        }
                    }
                }
                <!-- Product-->
               
               
            </div>
        </div>
    </section>
    <!-- Product Widgets-->
    <!-- Services-->
    <!-- Site Footer-->
</div>

