
@{
    ViewBag.Title = "latestproduct";
    Layout = "~/Views/Shared/_CustomerLayout.cshtml";
}
<div class="col-lg-12 col-md-8 col-sm-8 p-0" style="background: #fff;">
    <section class="">
        <div class="flexslider left">
            <ul class="slides">
                <li>
                    <img src="/Content/img/shop/latest1.jpg" class="respo-im">
                    <div class="meta">
                        <h1><img src="/Content/img/shop/latestshop.png" class="img-fluid"></h1>
                    </div>
                </li>
                <li>
                    <img src="/Content/img/shop/latest2.jpg" class="respo-im">
                    <div class="meta">
                        <h1><img src="/Content/img/shop/latestshop1.png" class="img-fluid"></h1>
                    </div>
                </li>

            </ul>
        </div>
    </section>
    <div class="container padding-top-2x mb-1">
        <div class="row">
            <div class="col-md-6 col-lg-6 mb-3">
                <div class="slider-banner-wrapper mb-15">
                    <img src="/Content/img/shop/11.jpg" alt="" class="img-fluid">
                    <div class="slider-banner-content2">
                        <h5>jewelry Of clothes</h5>
                        <h3 class="mt-3 mb-3">The Best <br>Handmade jewelry <br> In Our Shop </h3>
                        <a class="btn btn-primary btn-sm" href="shop-grid-ls.html"><span>shop now</span><b style="top: 50px; left: 5px;"></b></a>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-6">
                <div class="slider-banner-wrapper mb-15 mt-5">
                    <img src="/Content/img/shop/10.jpg" alt="" class="img-fluid">
                    <!-- <div class="slider-banner-content2">
                      <h5>jewelry Of clothes</h5>
                      <h3 class="mt-3 mb-3">The Best <br>Clothing jewelry </h3>
                      <a class="btn btn-primary btn-sm" href="shop-grid-ls.html"><span>shop now</span><b></b></a>
                    </div> -->
                </div>
            </div>
        </div>
    </div>
    <section class="padding-top-2x padding-bottom-1x">
        <div class="container">
            <h3 class="text-left mb-5 divider-titl pb-2">Latest Products</h3>
            <div class="row">
                @if (ViewBag.TopProduct != null)
                {
                    foreach (var item in ViewBag.TopProduct)
                    {
                        <div class="col-md-3 mb-4">
                            <div class="grid-item itm-hover">
                                <div class="product-card card-latest">
                                    <div class="product-badge text-danger">Rs. @item.discount Off</div>
                                    <a class="product-thumb" href="../SingleProduct/@item.product_id">
                                        <img src=@item.ImgUrl alt="Product">
                                    </a>
                                    <h3 class="product-title"><a href="../SingleProduct/@item.product_id">@item.product_name</a></h3>
                                    <h4 class="product-price">

                                        @if (Session["UserTypeId"].ToString() == "4")
                                        {
                                            <del>
                                                Rs- @Convert.ToDecimal(item.price_shopkeeper)+@Convert.ToDecimal(item.discount)
                                            </del>@item.price_shopkeeper
                                        }

                                        else
                                        {
                                            <del>Rs-@Convert.ToDecimal(item.price_defence)+@Convert.ToDecimal(item.discount)</del>@item.price_defence
                                        }
                                    </h4>
                                    @if (Session["UserTypeId"].ToString() == "4")
                                    {
                                        <div class="product-buttons mb-2">
                                            <button class="btn btn-outline-secondary btn-sm btn-wishlist" data-toggle="tooltip" title="" data-original-title="Whishlist"><i class="icon-heart"></i></button>
                                            <button class="btn btn-outline-primary btn-sm" data-toast="" data-toast-type="success" data-toast-position="topRight" data-toast-icon="icon-circle-check" data-toast-title="Product" data-toast-message="successfuly added to cart!" onclick="addtocart('Normal','@item.moq_shopkeeper','@item.product_id');">Add to Cart</button>
                                        </div>
                                    }
                                    @if (Session["UserTypeId"].ToString() == "5")
                                    {
                                        <div class="product-buttons mb-2">
                                            <button class="btn btn-outline-secondary btn-sm btn-wishlist" data-toggle="tooltip" title="" data-original-title="Whishlist"><i class="icon-heart"></i></button>
                                            <button class="btn btn-outline-primary btn-sm" data-toast="" data-toast-type="success" data-toast-position="topRight" data-toast-icon="icon-circle-check" data-toast-title="Product" data-toast-message="successfuly added to cart!" onclick="addtocart('Normal','@item.moq_defence','@item.product_id');">Add to Cart</button>
                                        </div>
                                    }
                                </div>
                            </div>
                        </div>
                    }
                }
            

            @*<div class="col-md-3 mb-4">
                <div class="grid-item itm-hover">
                    <div class="product-card card-latest">
                        <a class="product-thumb" href="shop-single.html">
                            <img src="/Content/img/shop/products/product-2.jpg" alt="Product">
                        </a>
                        <h3 class="product-title"><a href="shop-single.html">Yellow Pillow</a></h3>
                        <h4 class="product-price">Rs-200/-</h4>
                        <div class="product-buttons mb-2">
                            <button class="btn btn-outline-secondary btn-sm btn-wishlist" data-toggle="tooltip" title="" data-original-title="Whishlist"><i class="icon-heart"></i></button>
                            <button class="btn btn-outline-primary btn-sm" data-toast="" data-toast-type="success" data-toast-position="topRight" data-toast-icon="icon-circle-check" data-toast-title="Product" data-toast-message="successfuly added to cart!">Add to Cart</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 mb-4 ">
                <div class="grid-item itm-hover">
                    <div class="product-card card-latest">
                        <div class="rating-stars">
                            <i class="icon-star filled"></i><i class="icon-star filled"></i><i class="icon-star filled"></i><i class="icon-star filled"></i><i class="icon-star"></i>
                        </div><a class="product-thumb" href="shop-single.html"><img src="/Content/img/shop/products/product-3.jpg" alt="Product"></a>
                        <h3 class="product-title"><a href="shop-single.html">Hand Bracelets</a></h3>
                        <h4 class="product-price">Rs-155/-</h4>
                        <div class="product-buttons mb-2">
                            <button class="btn btn-outline-secondary btn-sm btn-wishlist" data-toggle="tooltip" title="" data-original-title="Whishlist"><i class="icon-heart"></i></button>
                            <button class="btn btn-outline-primary btn-sm" data-toast="" data-toast-type="success" data-toast-position="topRight" data-toast-icon="icon-circle-check" data-toast-title="Product" data-toast-message="successfuly added to cart!">Add to Cart</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 mb-4">
                <div class="grid-item itm-hover">
                    <div class="product-card card-latest">
                        <div class="rating-stars">
                            <i class="icon-star filled"></i><i class="icon-star filled"></i><i class="icon-star filled"></i><i class="icon-star filled"></i><i class="icon-star"></i>
                        </div><a class="product-thumb" href="shop-single.html"><img src="/Content/img/shop/products/product-4.jpg" alt="Product"></a>
                        <h3 class="product-title"><a href="shop-single.html">Knit Handmade Bracelets</a></h3>
                        <h4 class="product-price">Rs-255/-</h4>
                        <div class="product-buttons mb-2">
                            <button class="btn btn-outline-secondary btn-sm btn-wishlist" data-toggle="tooltip" title="" data-original-title="Whishlist"><i class="icon-heart"></i></button>
                            <button class="btn btn-outline-primary btn-sm" data-toast="" data-toast-type="success" data-toast-position="topRight" data-toast-icon="icon-circle-check" data-toast-title="Product" data-toast-message="successfuly added to cart!">Add to Cart</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 mb-4">
                <div class="grid-item itm-hover">
                    <div class="product-card card-latest">
                        <a class="product-thumb" href="shop-single.html">
                            <img src="/Content/img/shop/products/product-5.jpg" alt="Product">
                        </a>
                        <h3 class="product-title"><a href="shop-single.html">Colorful Bracelet</a></h3>
                        <h4 class="product-price">
                            <del>Rs-499</del>Rs-299/-
                        </h4>
                        <div class="product-buttons mb-2">
                            <button class="btn btn-outline-secondary btn-sm btn-wishlist" data-toggle="tooltip" title="" data-original-title="Whishlist"><i class="icon-heart"></i></button>
                            <button class="btn btn-outline-primary btn-sm" data-toast="" data-toast-type="success" data-toast-position="topRight" data-toast-icon="icon-circle-check" data-toast-title="Product" data-toast-message="successfuly added to cart!">Add to Cart</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 mb-4">
                <div class="grid-item itm-hover">
                    <div class="product-card card-latest">
                        <div class="rating-stars">
                            <i class="icon-star filled"></i><i class="icon-star filled"></i><i class="icon-star filled"></i><i class="icon-star filled"></i><i class="icon-star"></i>
                        </div><a class="product-thumb" href="shop-single.html"><img src="/Content/img/shop/products/product-6.jpg" alt="Product"></a>
                        <h3 class="product-title"><a href="shop-single.html">Knit From Wool Bracelets</a></h3>
                        <h4 class="product-price">Rs-255/-</h4>
                        <div class="product-buttons mb-2">
                            <button class="btn btn-outline-secondary btn-sm btn-wishlist" data-toggle="tooltip" title="" data-original-title="Whishlist"><i class="icon-heart"></i></button>
                            <button class="btn btn-outline-primary btn-sm" data-toast="" data-toast-type="success" data-toast-position="topRight" data-toast-icon="icon-circle-check" data-toast-title="Product" data-toast-message="successfuly added to cart!">Add to Cart</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 mb-4">
                <div class="grid-item itm-hover">
                    <div class="product-card card-latest">
                        <div class="product-badge text-danger">50% Off</div>
                        <a class="product-thumb" href="shop-single.html">
                            <img src="/Content/img/shop/products/product-7.jpg" alt="Product">
                        </a>
                        <h3 class="product-title"><a href="shop-single.html">Friendship Bracelets</a></h3>
                        <h4 class="product-price">
                            <del>Rs-399</del>Rs-299/-
                        </h4>
                        <div class="product-buttons mb-2">
                            <button class="btn btn-outline-secondary btn-sm btn-wishlist" data-toggle="tooltip" title="" data-original-title="Whishlist"><i class="icon-heart"></i></button>
                            <button class="btn btn-outline-primary btn-sm" data-toast="" data-toast-type="success" data-toast-position="topRight" data-toast-icon="icon-circle-check" data-toast-title="Product" data-toast-message="successfuly added to cart!">Add to Cart</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 mb-4">
                <div class="grid-item itm-hover">
                    <div class="product-card card-latest">
                        <a class="product-thumb" href="shop-single.html">
                            <img src="/Content/img/shop/products/product-8.jpg" alt="Product">
                        </a>
                        <h3 class="product-title"><a href="shop-single.html">Flower Bending</a></h3>
                        <h4 class="product-price">
                            Rs-399/-
                        </h4>
                        <div class="product-buttons mb-2">
                            <button class="btn btn-outline-secondary btn-sm btn-wishlist" data-toggle="tooltip" title="" data-original-title="Whishlist"><i class="icon-heart"></i></button>
                            <button class="btn btn-outline-primary btn-sm" data-toast="" data-toast-type="success" data-toast-position="topRight" data-toast-icon="icon-circle-check" data-toast-title="Product" data-toast-message="successfuly added to cart!">Add to Cart</button>
                        </div>
                    </div>
                </div>
            </div>*@
            @*<nav class="pagination mt-3">
                <div class="column text-center">
                    <ul class="pages">
                        <li class="active">
                            <a href="#">
                                1 </a></li >
                                <li><a href="#">2
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                3 </a></li>
                                <li><a href="#">4
                            </a>
                        </li>
                        <li>...</li>
                        <li>
                            <a href="#">
                                12 </a></li>
                                </ul>
                                </div>
                                </nav>*@
                                </div>
                                </div>
                                </section>
                                <section class="padding-top-1x padding-bottom-2x">
                                <div class="container">
                                    <div class="col-sm-12 p-0">
                                        <img src="/Content/img/shop/products/late1.png" class="img-fluid">
                                    </div>
                                </div>
        </section>
        <section class="padding-top-1x padding-bottom-2x">
            <div class="container">
                <h3 class="text-left mb-5 divider-titl pb-2">New Arrivals</h3>
                <div class="row">
                    <div class="col-md-6">
                        <div class="col-sm-12 p-0">
                            <div class="grid-item itm-hover">
                                <div class="product-card card-latest">
                                    <div class="product-badge text-danger">50% Off</div>
                                    <a class="product-thumb latest-thumb" href="shop-single.html">
                                        <img src="/Content/img/shop/products/product-1.jpg" alt="Product">
                                    </a>
                                    <h3 class="product-title"><a href="shop-single.html"> Birthday Gifts Grouped</a></h3>
                                    <h4 class="product-price">
                                        <del>Rs-599</del>Rs-399/-
                                    </h4>
                                    <div class="product-buttons mb-2">
                                        <button class="btn btn-outline-secondary btn-sm btn-wishlist" data-toggle="tooltip" title="" data-original-title="Whishlist"><i class="icon-heart"></i></button>
                                        <button class="btn btn-outline-primary btn-sm" data-toast="" data-toast-type="success" data-toast-position="topRight" data-toast-icon="icon-circle-check" data-toast-title="Product" data-toast-message="successfuly added to cart!">Add to Cart</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row mt-4">
                            <div class="col-md-6">
                                <div class="grid-item itm-hover">
                                    <div class="product-card card-latest">
                                        <a class="product-thumb latest-thumb" href="shop-single.html">
                                            <img src="/Content/img/shop/products/product-5.jpg" alt="Product">
                                        </a>
                                        <h3 class="product-title"><a href="shop-single.html"> Colorful Bracelet</a></h3>
                                        <h4 class="product-price">
                                            <del>Rs-499</del>Rs-299/-
                                        </h4>
                                        <div class="product-buttons mb-2">
                                            <button class="btn btn-outline-secondary btn-sm btn-wishlist" data-toggle="tooltip" title="" data-original-title="Whishlist"><i class="icon-heart"></i></button>
                                            <button class="btn btn-outline-primary btn-sm" data-toast="" data-toast-type="success" data-toast-position="topRight" data-toast-icon="icon-circle-check" data-toast-title="Product" data-toast-message="successfuly added to cart!">Add to Cart</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="grid-item itm-hover">
                                    <div class="product-card card-latest">
                                        <div class="rating-stars">
                                            <i class="icon-star filled"></i><i class="icon-star filled"></i><i class="icon-star filled"></i><i class="icon-star filled"></i><i class="icon-star"></i>
                                        </div><a class="product-thumb latest-thumb" href="shop-single.html"><img src="/Content/img/shop/products/product-6.jpg" alt="Product"></a>
                                        <h3 class="product-title"><a href="shop-single.html"> Knit From Wool Bracelets</a></h3>
                                        <h4 class="product-price">Rs-255/-</h4>
                                        <div class="product-buttons mb-2">
                                            <button class="btn btn-outline-secondary btn-sm btn-wishlist" data-toggle="tooltip" title="" data-original-title="Whishlist"><i class="icon-heart"></i></button>
                                            <button class="btn btn-outline-primary btn-sm" data-toast="" data-toast-type="success" data-toast-position="topRight" data-toast-icon="icon-circle-check" data-toast-title="Product" data-toast-message="successfuly added to cart!">Add to Cart</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="row">
                            <div class="col-md-6 mb-4">
                                <div class="grid-item itm-hover">
                                    <div class="product-card card-latest">
                                        <a class="product-thumb latest-thumb" href="shop-single.html">
                                            <img src="/Content/img/shop/products/product-2.jpg" alt="Product">
                                        </a>
                                        <h3 class="product-title"><a href="shop-single.html"> Yellow Pillow</a></h3>
                                        <h4 class="product-price">Rs-200/-</h4>
                                        <div class="product-buttons mb-2">
                                            <button class="btn btn-outline-secondary btn-sm btn-wishlist" data-toggle="tooltip" title="" data-original-title="Whishlist"><i class="icon-heart"></i></button>
                                            <button class="btn btn-outline-primary btn-sm" data-toast="" data-toast-type="success" data-toast-position="topRight" data-toast-icon="icon-circle-check" data-toast-title="Product" data-toast-message="successfuly added to cart!">Add to Cart</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 mb-4">
                                <div class="grid-item itm-hover">
                                    <div class="product-card card-latest">
                                        <div class="rating-stars">
                                            <i class="icon-star filled"></i><i class="icon-star filled"></i><i class="icon-star filled"></i><i class="icon-star filled"></i><i class="icon-star"></i>
                                        </div><a class="product-thumb latest-thumb" href="shop-single.html"><img src="/Content/img/shop/products/product-3.jpg" alt="Product"></a>
                                        <h3 class="product-title"><a href="shop-single.html"> Hand Bracelets</a></h3>
                                        <h4 class="product-price">Rs-155/-</h4>
                                        <div class="product-buttons mb-2">
                                            <button class="btn btn-outline-secondary btn-sm btn-wishlist" data-toggle="tooltip" title="" data-original-title="Whishlist"><i class="icon-heart"></i></button>
                                            <button class="btn btn-outline-primary btn-sm" data-toast="" data-toast-type="success" data-toast-position="topRight" data-toast-icon="icon-circle-check" data-toast-title="Product" data-toast-message="successfuly added to cart!">Add to Cart</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-12">
                                <div class="grid-item itm-hover">
                                    <div class="product-card card-latest">
                                        <div class="rating-stars">
                                            <i class="icon-star filled"></i><i class="icon-star filled"></i><i class="icon-star filled"></i><i class="icon-star filled"></i><i class="icon-star"></i>
                                        </div><a class="product-thumb latest-thumb" href="shop-single.html"><img src="/Content/img/shop/products/product-4.jpg" alt="Product"></a>
                                        <h3 class="product-title"><a href="shop-single.html"> Knit Handmade Bracelets</a></h3>
                                        <h4 class="product-price">Rs-255/-</h4>
                                        <div class="product-buttons mb-2">
                                            <button class="btn btn-outline-secondary btn-sm btn-wishlist" data-toggle="tooltip" title="" data-original-title="Whishlist"><i class="icon-heart"></i></button>
                                            <button class="btn btn-outline-primary btn-sm" data-toast="" data-toast-type="success" data-toast-position="topRight" data-toast-icon="icon-circle-check" data-toast-title="Product" data-toast-message="successfuly added to cart!">Add to Cart</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="padding-top-1x padding-bottom-2x">
            <div class="container">
                <div class="row">
                    @if (ViewBag.TopSubCategory != null)
                    {
                        int a = 1;
                        foreach (var item in ViewBag.TopSubCategory)
                        {

                            if (a <= 4)
                            {
                                <div class="col-md-6 col-lg-3 mb-3 text-center handi-img">
                                    <img src=@item.ImgUrl class="img-fluid">
                                    <div class="latest0-centered p-2">@item.HandicraftSubCategory</div>
                                </div>
                                a = a + 1;
                            }
                        }
                    }
                    @*<div class="col-md-6 col-lg-3 mb-3 text-center">
                        <img src="/Content/img/shop/products/Kinitting1.jpg" class="img-fluid">
                        <div class="latest0-centered p-2">Kinitting</div>
                    </div>
                    <div class="col-md-6 col-lg-3 mb-3 text-center">
                        <img src="/Content/img/shop/products/jewlery1.jpg" class="img-fluid">
                        <div class="latest0-centered p-2">Accessories</div>
                    </div>
                    <div class="col-md-6 col-lg-3 mb-3 text-center">
                        <img src="/Content/img/shop/products/soap1.jpg" class="img-fluid">
                        <div class="latest0-centered p-2">Handmade Soaps</div>
                    </div>*@
                </div>
            </div>
        </section>
        <section class="padding-top-1x mr-5 mb-5 text-right">
            <a class="btn btn-outline-secondary btn-sm mod-btn text-white" href="front.html">
                <i class="icon-arrow-left"></i> Back&nbsp;
            </a>
        </section>

</div>
